
.diapo {
    display: flex;
    background-color: #1F8B28;
    width: 30%;
    margin-top: 20%;
    margin-left: 20%;
}

.trame {
    display: flex;
    background-color: #D20F1A;
    width: 25%;
    margin-top: -4.5%;
    margin-left: 60%; 

}

section a  {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    padding-left: 2% ;
}

.niger {
    color: black;
    display: flex;
    background-color: #D9E4EA;
    width: 35%;
    margin-top: -10%;
    margin-left: 35%;
}

